@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  border: 3px solid transparent;

  &--dark {
    border-top-color: $primary-black;
    border-right-color: rgba($primary-black, 0.35); // ← используйте rgba()
    border-bottom-color: rgba($primary-black, 0.35);
    border-left-color: rgba($primary-black, 0.35);
  }

  &--light {
    border-top-color: $primary-white;
    border-right-color: rgba($primary-white, 0.35);
    border-bottom-color: rgba($primary-white, 0.35);
    border-left-color: rgba($primary-white, 0.35);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
