@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.checkboxContainer {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease;
  &--light {
    background-color: $secondary-white;
    border: 1px solid $primary-light-gray;
    color: $primary-dark-gray;
  }

  &--dark {
    background-color: $primary-black;
    color: $primary-light-gray;
  }
}

.checkbox {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  opacity: 0;
}

.checkboxIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
