@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.checkboxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
  position: relative;
}

.checkbox {
  all: unset;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: all 0.2s ease;
  
  &--light {
    background-color: $secondary-white;
    border: 1px solid $primary-light-gray;
    color: $primary-dark-gray;
  }

  &--dark {
    background-color: $primary-black;
    color: $primary-light-gray;
  }
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkedContainer {
  width: 24px;
  position: relative;
}

