@use "../../styles/mixins.scss" as *;

@mixin painting-container {
  padding: 20px;
  width: 300px;
}

.painting {
  position: relative;
  aspect-ratio: 1.507;
  overflow: hidden;
  border: none;
  &:hover {
    img {
      transform: scale(1.03);
      transition: transform 0.5s ease;
    }
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.linkboxOverlay {
  position: static;

  &::before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 236px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #121212;
  color: #ffffff;
  padding: 8px 12px;
  // background: var(--background-color);
  // color: var(--text-color);
  @include fonts("Cormorant SC", serif, 500, 12px, 100%);

  @include screen(desktop) {
    @include painting-container;
    @include fonts("Cormorant SC", serif, 500, 16px, 100%);
  }

  @include screen(tablet) {
    @include painting-container;
    @include fonts("Cormorant SC", serif, 500, 16px, 100%);
  }
}

.created {
  // color: var(--accent-color);
  color: #ab8956;
  margin-top: 4px;
  @include fonts("Inter", sans-serif, 700, 8px, 100%);
}
