@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.painting {
  position: relative;
  aspect-ratio: 1.507;
  overflow: hidden;
  border: none;
  &:hover {
    img {
      transform: scale(1.03);
      transition: transform 0.5s ease;
    }
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.linkboxOverlay {
  position: static;

  &::before {
    content: '';
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 236px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  padding: 8px 12px;
  transition: all 0.5s ease;
  &--light {
    background-color: $primary-white;
    color: $primary-black;
  }
  &--dark {
    background-color: $primary-black;
    color: $primary-white;
  }
  @include fonts('Cormorant SC', sans-serif, 500, 12px, 100%);
}

.line {
  position: absolute;
  width: 24px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  &--light {
    background-color: $accent-red;
  }
  &--dark {
    background-color: $accent-gold;
  }
}
@include screen(tablet) {
  .container {
    width: 300px;
    padding: 12px;
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
  }
}

@include screen(tablet_lg) {
  .container {
    width: 300px;
    padding: 20px;
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
  }
  .line {
    position: absolute;
    width: 2px;
    height: 42px;
    left: 0;
    top: 20px;
    transition: all 0.5s ease;
    &--light {
      background-color: $accent-red;
    }
    &--dark {
      background-color: $accent-gold;
    }
  }
}

@include screen(desktop) {
  .container {
    width: 300px;
    padding: 20px;
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
  }
  .line {
    position: absolute;
    width: 2px;
    height: 42px;
    left: 0;
    top: 20px;
    transition: all 0.5s ease;
    &--light {
      background-color: $accent-red;
    }
    &--dark {
      background-color: $accent-gold;
    }
  }
}

.created {
  margin-top: 4px;
  @include fonts('Inter', sans-serif, 700, 8px, 100%);
  transition: all 0.5s ease;
  &--light {
    color: $accent-red;
  }
  &--dark {
    color: $accent-gold;
  }

  @include screen(tablet) {
    margin-top: 8px;
    @include fonts('Inter', sans-serif, 700, 12px, 100%);
  }
  @include screen(desktop) {
    margin-top: 8px;
    @include fonts('Inter', sans-serif, 700, 12px, 100%);
  }
}
