@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.filterContainer {
  width: 100;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 100px;
  position: relative;
}
.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.genres {
  width: 90%;
  height: 104px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.title {
  @include fonts('Cormorant SC', san-serif, 500, 12px, 100%);
}
.filterButtons {
  width: 100%;
  height: 12px;
  button {
    display: flex;
    justify-content: space-between;
  }
}
.iconButton {
  width: 12px;
  height: 12px;
  position: relative;
}
.genreItem {
  background-color: transparent;
  border: none;
  @include fonts('Inter', san-serif, 300, 12px, 140%);
  text-align: start;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.sortItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  @include fonts('Inter', san-serif, 300, 12px, 140%);
  align-items: start;
}
.selectedItem {
  @include fonts('Inter', san-serif, 500, 12px, 140%);
  &--light {
    color: $primary-black;
  }
  &--dark {
    color: $accent-gold;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 20px;
  bottom: 101px;
  left: 20px;
}
@include screen(tablet) {
  .filterContainer {
    padding: 0 32px;
    padding-top: 180px;
  }
  .title {
    font-size: 16px;
  }
  .iconButton {
    width: 24px;
    height: 24px;
  }
  .buttons {
    right: 32px;
    left: 32px;
  }
}
