@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.modal_overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.active {
  opacity: 1;
  &--light {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &--dark {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.modalInfo {
  width: 252px;
  height: 100%;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 10;
  &--light {
    color: $primary-dark-gray;
    background-color: $secondary-white;
  }
  &--dark {
    color: $primary-light-gray;
    background-color: $primary-black;
  }
}
.activeModalInfo {
  transform: translateX(0);
}

.clearButton {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 16px;
    height: 16px;
  }
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.authorization {
  width: 100%;
  height: 100%;
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}

@include screen(tablet) {
  .modalInfo {
    width: 466px;
  }
  .clearButton {
    right: 24px;
    top: 36px;
  }
}
@include screen(tablet_lg) {
  .authorization {
    width: 1000px;
    height: 700px;
    position: fixed;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 86px;
  }
}
