@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: stretch; // растягиваем на всю высоту
  &--light {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &--dark {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.modalContainer {
  width: 252px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--light {
    color: $primary-dark-gray;
    background-color: $secondary-white;
  }
  &--dark {
    color: $primary-light-gray;
    background-color: $primary-black;
  }
}
.clearButton {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  svg {
    width: 16px;
    height: 16px;
  }
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
@include screen(tablet) {
  .modalContainer {
    width: 466px;
  }
  .clearButton {
    right: 24px;
    top: 36px;
  }
}
