.galleryList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
  gap: 32px;
  overflow: hidden;
}

@include screen($max-desktop-width) {
  grid-template-columns: repeat(3, 1fr);
}

@include screen($max-tablet-width) {
  grid-template-columns: repeat(3, 1fr);
}
