@use '../styles/mixins.scss' as *;

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC.woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #ffffff;
  // background-color: #121212;
}

.container {
  margin: 0 auto;
}

@include screen(desktop) {
  .container {
    padding-bottom: 40px;
  }
}

@include screen(tablet) {
  .container {
    padding-bottom: 40px;
  }
}
