@mixin spacing-m($size-key, $sides: all) {
  $size: map-get($spacing-sizes, $size-key);

  @if $sides == all {
    margin: $size;
  } @else if $sides == top {
    margin-top: $size;
  } @else if $sides == right {
    margin-right: $size;
  } @else if $sides == bottom {
    margin-bottom: $size;
  } @else if $sides == left {
    margin-left: $size;
  } @else if $sides == x {
    margin-left: $size;
    margin-right: $size;
  } @else if $sides == y {
    margin-top: $size;
    margin-bottom: $size;
  }
}

@mixin spacing-p($size-key, $sides: all) {
  $size: map-get($spacing-sizes, $size-key);
  @if $sides == all {
    padding: $size;
  } @else if $sides == top {
    padding-top: $size;
  } @else if $sides == right {
    padding-right: $size;
  } @else if $sides == bottom {
    padding-bottom: $size;
  } @else if $sides == left {
    padding-left: $size;
  } @else if $sides == x {
    padding-left: $size;
    padding-right: $size;
  } @else if $sides == y {
    padding-top: $size;
    padding-bottom: $size;
  }
}

// .card {
//   @include spacing-p(24px); // padding: 24px со всех сторон
//   @include spacing-m(0, bottom); // margin-bottom: 0
// }
