@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.mainImageContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}
.mainImage {
  width: 100vw;
  height: 100vh;

  object-fit: cover;
}
.thumbnails {
  display: none;
}
.setContainer {
  display: flex;
  width: 164px;
  height: 28px;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 12px;
}
.previewIcon {
  width: 28px;
  height: 28px;
}
.infoContainer {
  width: 253px;
  max-width: 100%;
  min-width: 236px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  bottom: 80px;
  left: 0;
  border: none;
  padding: 8px 12px;
  @include fonts('Cormorant SC', sans-serif, 500, 12px, 100%);
  &--light {
    background-color: $primary-white;
    color: $primary-black;
  }
  &--dark {
    background-color: $primary-black;
    color: $primary-white;
  }
}
.details {
  margin-top: 4px;
  @include fonts('Inter', sans-serif, 700, 8px, 100%);
  &--light {
    color: $accent-red;
  }
  &--dark {
    color: $accent-gold;
  }
}
.editButtons {
  width: 76px;
  height: 28px;
  position: absolute;
  bottom: 20px;
  left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageCounter {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: transparent;
  @include fonts('Cormorant SC', sans-serif, 700, 16px, 128%);
  color: $primary-light-gray;
}
.line {
  display: none;
}
.clearButton {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  svg {
    width: 16px;
    height: 16px;
  }
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
@include screen(tablet) {
  .setContainer {
    top: 40px;
    left: 40px;
  }
  .infoContainer {
    width: 498px;
    gap: 8px;
    bottom: 60px;
    left: 40px;
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
    padding: 40px 20px;
  }
  .details {
    @include fonts('Inter', sans-serif, 700, 12px, 100%);
  }
  .editButtons {
    bottom: 134px;
    left: 442px;
  }
  .line {
    display: flex;
    position: absolute;
    width: 2px;
    height: 48px;
    left: 0;
    top: 40px;
    transition: all 0.5s ease;
    svg {
      display: none;
    }
    &--light {
      background-color: $accent-red;
    }
    &--dark {
      background-color: $accent-gold;
    }
  }
  .buttonNext,
  .buttonPrev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
  }
  .buttonNext {
    right: 0;
    svg {
      transform: rotate(90deg);
      top: 0;
      left: 0;
    }
  }
  .buttonPrev {
    left: 0;
    svg {
      transform: rotate(-90deg);
      top: 0;
      right: 0;
    }
  }
  .clearButton {
    right: 24px;
    top: 36px;
  }
}
