@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.container {
  position: relative;
  padding: 52px 0;
}
.buttonBack {
  width: 24px;
  height: 24px;
  display: flex;
  transition: transform 0.3s ease;
  position: absolute;
  top: 16px;
  left: 20px;
  background-color: transparent;
  border: none;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.rotated {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.tablet {
  display: none;
}
.tabletLgOnly {
  display: none;
}

@include screen(tablet) {
  .container {
    padding: 80px 0;
  }
  .buttonBack {
    width: 70px;
    height: 24px;
    display: flex;
    align-items: center;
    top: 36px;
    left: 20px;
    gap: 12px;
    .tablet {
      display: flex;
      width: 34px;
      height: 16px;
      &--light {
        color: $primary-dark-gray;
      }
      &--dark {
        color: $primary-light-gray;
      }
    }
  }
}
@include screen(tablet_lg) {
  .container {
    padding: 100px 0;
  }
  .buttonBack {
    top: 52px;
    left: 100px;
  }
  .tabletLgOnly {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    width: 604px;
    top: 160px;
    left: 100px;
    padding: 60px 80px;
    &--light {
      background-color: $primary-white;
    }
    &--dark {
      background-color: $primary-black;
    }
  }
    .line {
    display: flex;
    position: absolute;
    width: 2px;
    height: 73px;
    left: 0;
    top: 110px;
    transition: all 0.5s ease;
    &--light {
      background-color: $accent-red;
    }
    &--dark {
      background-color: $accent-gold;
    }
  }
  .details {
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $secondary-gray;
    }
  }
  .name {
    @include fonts('Cormorant SC', sans-serif, 500, 60px, 100%);
    &--light {
      color: $accent-red;
    }
    &--dark {
      color: $accent-gold;
    }
  }
  .notDesctop {
    display: none;
  }
}
