@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.container {
  width: 100%;
  height: 100%;
  display: inline;
  position: relative;
}
.label {
  display: block;
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  margin-bottom: 8px;
  transition: all 0.5s ease;
  &--light {
    color: $primary-black;
  }
  &--dark {
    color: $primary-white;
  }
}
.input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  padding: 7px 16px;
  @include fonts('Inter', sans-serif, 300, 16px, 140%);
  &::placeholder {
    color: $secondary-gray;
    @include fonts('Inter', sans-serif, 300, 16px, 140%);
    transition: opacity 0.2s ease;
  }
  &--light {
    background-color: $primary-white;
    border: 1px solid $primary-light-gray;
    &:hover {
      border: 1px solid $secondary-gray;
    }
    &:focus {
      outline: none;
      border: 1px solid $primary-dark-gray;
    }
  }
  &--dark {
    background-color: $secondary-black;
    color: $primary-white;
    &:hover {
      border: 1px solid $primary-dark-gray;
    }
    &:focus {
      outline: none;
      border: 1px solid $primary-light-gray;
      &.placeholder {
        opacity: 0;
      }
    }
  }
}
.errorContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: 105%;
  left: 0;
}
.errorIcon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.errorMessage {
  color: $accept-error;
  @include fonts('Inter', sans-serif, 300, 12px, 140%);
  margin-left: 32px;
}
