@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.buttonTheme {
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: transparent;
}
.iconTheme {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  svg {
    width: 24px;
    height: 24px;
  }
  &--light {
    background-color: transparent;
  }
  &--dark {
    color: $primary-light-gray;
    background-color: $secondary-black;
  }
}
.loginbuttons {
  display: flex;
  gap: 32px;

  flex-direction: column;
  background-color: transparent;
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
