@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.multiContainer {
  width: 260px;
  display: inline-flex;
  flex-direction: column;
  border: none;
  position: relative;
}
.genreContainer {
  height: 260px;
  margin-top: 10px;
  max-height: 240px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  z-index: 10000;
  transform: translateY(-10px);

  &.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  &--light {
    color: $primary-dark-gray;
    background-color: $primary-white;
  }
  &--dark {
    color: $secondary-gray;
    background-color: $secondary-black;
  }
}
.inputContainer {
  z-index: 1;
}
.selectButton {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 16px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  z-index: 7;
  border: none;
  &.rotated {
    transform: rotate(180deg);
  }
  &--light {
    color: $primary-dark-gray;
    background-color: $primary-white;
  }
  &--dark {
    color: $secondary-gray;
    background-color: $secondary-black;
  }
}
.containerGenre {
  display: flex;
  gap: 12px;
  border: none;
  padding: 8px 15px;
  @include fonts('Inter', sans-serif, 300, 16px, 140%);
  &--light {
    color: $primary-dark-gray;
    &:hover {
      background-color: #1212120d;
      z-index: 5;
    }
  }
  &--dark {
    color: $primary-light-gray;
    &:hover {
      background-color: #cdcdcd0d;
      z-index: 5;
    }
  }
}
.selectedGenres {
  position: absolute;
  z-index: 6;
  width: 230px;
  height: 46px;
  display: inline;
  top: 26px;
  padding-left: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.5s ease;
  &--light {
    color: $primary-dark-gray;
  }

  &--dark {
    color: $primary-white;
  }
}
.selectedItem {
  display: inline;
  margin-right: 12px;
}

@include screen(tablet) {
  .multiContainer {
    width: 340px;
  }
}
