@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.multiContainer {
  width: 340px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
}
.containerTheme {
    width: 340px;
    height: 286px;
    position: absolute;
    top: 23px;
    z-index: 0;
  &--light {
    border: 1px solid $primary-light-gray;
    background-color: $primary-white;
  }
  &--dark {
    background-color: $secondary-black;
    border: none;
  }
}
.inputContainer {
  z-index: 1;
}
.selectButton {
  position: absolute;
  top: 40px;
  left: 300px;
  transform: rotate(0deg); 
  transition: transform 0.3s ease;
  z-index: 7;
  &.rotated {
     transform: rotate(180deg);
  }
}

// .selecedList {
//   position: relative;
// }

.containerGenre {
  display: flex;
  gap: 12px;
  border: none;
  padding: 8px 15px;
  @include fonts('Inter', sans-serif, 300, 16px, 140%);
  &--light {
    color: $primary-dark-gray;
    &:hover {
      background-color: #1212120d;
      z-index: 5;
    }
  }
  &--dark {
    color: $primary-light-gray;
    &:hover {
      background-color: #cdcdcd0d;
      z-index: 5;
    }
  }
}

.selectedGenres {
  position: absolute;
  z-index: 6;
  width: 263px;
  height: 33px;
  left: 16px;
  display: inline-block;
  top: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.5s ease;
  &--light {
    color: $primary-dark-gray;
  }

  &--dark {
    color: $primary-white;
  }
}

.selectedItem {
  padding-right: 12px;
  display: inline-block;
  height: 17px;
}
