@import '@../../../../styles/variables.scss';

@mixin responsive-painting-container {
  padding: 8px 12px;
  width: 236px;
  font-size: 12px;
}

.painting {
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  font-size: 16px;
  height: 400px; // потом надо убрать
  width: 100%;
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .linkboxOverlay {
    position: static;

    &::before {
      content: '';
      cursor: inherit;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }

  .container {
    width: 236px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #121212;
    color: #ffffff;
    font-size: 12px;
    font-family: "Cormorant SC", serif;
    padding: 8px 12px;
    // background: var(--background-color);
    // color: var(--text-color);

    @include screen($max-desktop-width) {
      @include responsive-painting-container;
    }
    
    @include screen($max-tablet-width) {
      @include responsive-painting-container;
    }

    .created {
      // color: var(--accent-color);
      color: #ab8956;
      font-size: 8px;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      margin-top: 4px;
    }
  }
}
