@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.mainPage {
  padding: 20px 0;
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}
.addArtistButton {
  height: 24px;
  display: flex;
  gap: 12px;
  position: relative;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
  svg {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    margin-right: 12px;
  }
}
@include screen(tablet) {
  .mainPage {
    padding: 40px 0;
  }
}
