@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.mainPage {
  width: 100%;
  height: 100%;
  padding-top: 36px;
  padding-bottom: 80px;
  position: relative;
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}
.loadButton {
  width: 72px;
  height: 15px;
  margin: 0 auto;
  margin-top: 32px;
}
.filterButton {
  width: 28px;
  height: 28px;
  right: 20px;
  top: 32px;
  border-radius: 10%;
  &--light {
    background-color: $secondary-white;
  }
  &--dark {
    background-color: $secondary-black;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
.messageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.noResults {
  width: 100%;
  @include fonts('Inter', san-serif, 300, 16px, 140%);
  background-color: transparent;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.searchValue {
  font-weight: 500;
}
.message {
  @include fonts('Inter', san-serif, 300, 12px, 140%);
  background-color: transparent;
  color: $secondary-gray;
}
@include screen(tablet) {
  .mainPage {
    padding-top: 47px;
    padding-bottom: 100px;
  }
  .searchButton {
    display: block;
    width: 100%;
  }
  .loadButton {
    margin-top: 40px;
  }
  .buttonContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 33px;
  }
  .buttons {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
  }
  .filterButton {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $primary-light-gray;
    }
  }
}
@include screen(tablet_lg) {
  .buttonContainer {
    grid-template-columns: 1fr 1fr minmax(0, 1fr);
  }
  .buttons {
    grid-column: 3/4;
    justify-content: end;
  }
}
