@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.containerArtist {
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}
@include screen(tablet_lg) {
  .containerArtist {
    margin: 0 auto;
  }
}
