@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.containerArtist {
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}

.workTitle {
  margin-top: 8px;
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  &--light {
    color: $accent-red;
  }
  &--dark {
    color: $accent-gold;
  }
}
.emptyPhoto {
  display: flex;
  justify-content: center;
  border: 1px dashed $primary-dark-gray;
  & svg {
    position: static; // Отменяет absolute по умолчанию
    transform: none;
  }
}
@include screen(tablet) {
  .workTitle {
    margin-top: 18px;
  }
}

@include screen(tablet_lg) {
  .containerArtist {
    margin: 0 auto;
  }
  .line {
    display: flex;
    position: absolute;
    width: 2px;
    height: 73px;
    left: 0;
    top: 110px;
    transition: all 0.5s ease;
    &--light {
      background-color: $accent-red;
    }
    &--dark {
      background-color: $accent-gold;
    }
  }
  .details {
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $secondary-gray;
    }
  }
  .name {
    @include fonts('Cormorant SC', sans-serif, 500, 60px, 100%);
    &--light {
      color: $accent-red;
    }
    &--dark {
      color: $accent-gold;
    }
  }
  .workTitle {
    margin-top: 18px;
  }
}
