@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.containerArtist {
  &--light {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}
.workTitle {
  margin-top: 8px;
  margin-bottom: 8px;
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  align-self: flex-start;
  &--light {
    color: $accent-red;
  }
  &--dark {
    color: $accent-gold;
  }
}
.paintings {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.emptyContainer {
  width: 280px;
  height: 185px;
  display: flex;
  justify-content: center;
  border: 1px dashed $primary-dark-gray;
  padding: 16px;
  position: relative;
  & svg {
    object-fit: contain;
    width: auto;
    height: auto;
    position: static; // Отменяет absolute по умолчанию
    transform: none;
  }
  &--light {
    background-color: $secondary-white;
  }
  &--dark {
    background-color: $secondary-black;
  }
}
.addButton {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -27%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &--light {
    background-color: $accent-red;
  }
  &--dark {
    background-color: $accent-gold;
  }
}
.messageContainer {
  width: 260px;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
}
.line {
  width: 160px;
  height: 2px;
  &--light {
    background-color: $accent-red;
  }
  &--dark {
    background-color: $accent-gold;
  }
}
.message {
  text-align: center;
  color: $primary-light-gray;
  padding: 0 15px;
  @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
}
.containerPicture {
  display: flex;
  flex-direction: column;
}
.addPicture {
  margin-bottom: 16px;
  align-self: flex-end;
}
@include screen(tablet) {
  .workTitle {
    margin-top: 18px;
  }
  .emptyContainer {
    width: 352px;
    height: 220px;
  }
  .messageContainer {
    width: 486px;
    margin-top: 110px;
  }
  .addPicture {
    margin-bottom: 20px;
  }
}

@include screen(tablet_lg) {
  .containerArtist {
    margin: 0 auto;
  }
  .details {
    @include fonts('Cormorant SC', sans-serif, 500, 16px, 100%);
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $secondary-gray;
    }
  }
  .name {
    @include fonts('Cormorant SC', sans-serif, 500, 60px, 100%);
    &--light {
      color: $accent-red;
    }
    &--dark {
      color: $accent-gold;
    }
  }
  .workTitle {
    margin-top: 18px;
  }
}
