@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.description {
  width: 100%;
  background-color: transparent;
  text-align: justify;
  margin: 20px 0;
  display: block;
  @include fonts('Inter', sans-serif, 300, 16px, 140%);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
  &.gradient {
    &--light {
      background: linear-gradient(
        180deg,
        $primary-dark-gray 0%,
        rgba(222, 222, 222, 0.4) 100%
      );
      background-clip: text;
      color: transparent;
    }
    &--dark {
      background: linear-gradient(
        180deg,
        $primary-light-gray 0%,
        rgba(222, 222, 222, 0.4) 100%
      );
      background-clip: text;
      color: transparent;
    }
  }
}
.selectButton {
  display: flex;
  justify-content: space-between;
  width: 96px;
  gap: 8px;
  border: none;
  background-color: transparent;
}
.rotated {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.genresContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 8px;
}
