@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.container {
  width: 138px;
  height: 133px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 12px;
  left: 12px;
}
.iconContainer {
  width: 28px;
  height: 28px;
  position: relative;
  svg {
    top: 50%;
    left: 50%;
  }
  &--light {
    background-color: $primary-light-gray;
  }
  &--dark {
    background-color: $primary-light-gray;
  }
}
.settingsMenu {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  gap: 12px;
  border-radius: 5%;
  &::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid;
  }
  &--light {
    background-color: $secondary-white;
  }
  &--dark {
    background-color: $secondary-black;
  }
}
.setCoverButton {
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  background-color: transparent;
  border: none;
  &--light {
    color: $accent-red;
  }
  &--dark {
    color: $accent-gold;
  }
}
.buttons {
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  background-color: transparent;
  border: none;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
