@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.container {
  display: block;
  width: 268px;
  height: 426px;
  margin: 0 auto;
  border: none;
  @include screen(desktop) {
    &--light {
      background-color: $secondary-white;
      border: 1px solid $primary-dark-gray;
    }
    &--dark {
      background-color: $secondary-white;
      border: 1px solid $primary-light-gray;
    }
  }
}

.desktopImage {
  display: none;
}

.desktopImage {
  @include screen(desktop) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 358px;
  height: 435px;
  margin-top: 110px;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-white;
  }

  .formTitle {
    margin: 0 auto;
    text-align: center;
    @include fonts('Cormorant SC', sans-serif, 500, 48px, 100%);
  }

  .signUpMessage {
    text-align: center;
    @include fonts('Inter', sans-serif, 300, 16px, 140%);
  }

  .signUpLink {
    @include fonts('Inter', sans-serif, 500, 16px, 140%);
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $primary-white;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 32px 30px;
  gap: 40px;
}

.buttonContainer {
  margin-top: 10px;
}
