@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  &--light {
    color: $primary-dark-gray;
    background-color: $primary-white;
  }
  &--dark {
    color: $primary-light-gray;
    background-color: $primary-black;
  }
}
.iconLogo {
  width: 73px;
  height: 16px;
  position: relative;
  overflow: hidden;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.containerButtons {
  display: none;
}

.containerMenu {
  width: 24px;
  height: 24px;
  position: relative;
  svg {
    position: absolute;
  }
}
.themeIcon {
  display: none;
}

@include screen(tablet) {
  .header {
    height: 88px;
  }
}

@include screen(tablet_lg) {
  .header {
    height: 80px;
  }
  .iconLogo {
    width: 91px;
    height: 20px;
  }
  .containerMenu {
    display: none;
  }
  .containerButtons {
    display: flex;
  }
  .buttonContainer {
    display: flex;
    gap: 20px;
    width: 235px;
    background-color: transparent;
  }
  .buttonItem {
    background-color: transparent;
    border: none;
    @include fonts('Cormorant SC', san-serif, 700, 16px, 128%);
    transition: all 0.5s ease;
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $primary-light-gray;
    }
  }
  .themeContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s ease;
    &--light {
      background-color: $secondary-white;
    }
    &--dark {
      background-color: $secondary-black;
    }
    svg {
      position: absolute;
    }
  }
}

@include screen(desktop) {
  .header {
    height: 80px;
  }
  .iconLogo {
    width: 91px;
    height: 20px;
  }
  .containerMenu {
    display: none;
  }
  .containerButtons {
    display: flex;
  }
  .buttonContainer {
    display: flex;
    gap: 20px;
    width: 235px;
    background-color: transparent;
  }
  .buttonItem {
    background-color: transparent;
    border: none;
    @include fonts('Cormorant SC', san-serif, 700, 16px, 128%);
    transition: all 0.5s ease;
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $primary-light-gray;
    }
  }
  .themeContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s ease;
    &--light {
      background-color: $secondary-white;
    }
    &--dark {
      background-color: $secondary-black;
    }
  }
  svg {
    position: absolute;
  }
}
