@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

@mixin textDecoration($color) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-decoration-color: $color;
}
.defaultButton {
  width: fit-content;
  border-radius: 30px;
  padding: 16px 80px;
  border: none;
  color: $primary-white;
  transition: all 0.5s ease;
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  &--light {
    background-color: $primary-black;
    &:hover {
      box-shadow: 0px 4px 10px 0px #00000040;
    }
    &:focus {
      box-shadow: 0px 4px 10px 0px #00000040;
    }
  }
  &--dark {
    background-color: $accent-gold;
    &:hover {
      box-shadow: 0px 4px 10px 0px #ab895640;
    }
    &:focus {
      box-shadow: 0px 4px 10px 0px #ab895640;
    }
  }
  &:disabled {
    opacity: 50%;
  }
}
.text {
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  transition: all 0.5s ease;
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  &--light {
    color: $primary-dark-gray;
    background-color: transparent;
    @include textDecoration($primary-dark-gray);
    &:hover {
      color: $primary-black;
      @include textDecoration($primary-black);
    }
    &:disabled {
      color: $primary-light-gray;
      @include textDecoration($primary-light-gray);
    }
  }
  &--dark {
    color: $primary-light-gray;
    background-color: transparent;
    @include textDecoration($primary-light-gray);
    &:hover {
      color: $primary-white;
      @include textDecoration($primary-white);
    }
    &:disabled {
      color: $primary-dark-gray;
      @include textDecoration($primary-dark-gray);
    }
  }
  svg {
    width: 12px;
    height: 12px;
    position: static; // Отменяет absolute по умолчанию
    transform: none;
  }
}
.icon {
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.5s ease;
  background: transparent;
  & svg {
    width: 24px;
    height: 24px;
    position: static; // Отменяет absolute по умолчанию
    transform: none;
  }
  &--light {
    color: $primary-dark-gray;
    // background-color: $secondary-white;
    &:hover {
      color: $primary-black;
    }
    &:disabled {
      color: $primary-dark-gray;
    }
  }
  &--dark {
    color: $primary-light-gray;
    // background-color: $secondary-black;
    &:hover {
      color: $primary-white;
    }
    &:disabled {
      color: $primary-light-gray;
    }
  }
}
.circleIcon {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease;
  & svg {
    width: 24px;
    height: 24px;
  }
  &--light {
    color: $primary-dark-gray;
    background-color: $secondary-white;
    border: 1px solid $primary-light-gray;
    &:hover {
      background-color: $primary-white;
    }
  }
  &--dark {
    color: $primary-light-gray;
    border: none;
    background-color: $secondary-black;
    &:hover {
      background-color: #242222;
    }
  }
}
