@use "@/styles/mixins.scss" as *;

.defaultButton {
  width: 200px;
  height: 47px;
  background-color: #ab8956;
  border-radius: 30px;
  padding: 16px 20px;
  border: none;
  color: #ffffff;
  @include fonts("Inter", sans-serif, 700, 12px);
}

.text {
  color: #dedede;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-decoration-color: #dedede;

  @include fonts("Inter", sans-serif, 700, 12px);

  &:hover {
    color: #ffffff;
    background-color: aqua; //test
  }

  & svg {
    width: 12px;
    height: 12px;
    margin-right: 12px;
    vertical-align: middle;

    &:hover:not(:disabled) {
      color: #ffffff;
    }
  }
}

.icon {
  background-color: #1a1818;
  border-radius: 4px;
  width: 28px;
  height: 28px;

  & svg {
    width: 24px;
    height: 24px;
    // &.stateHover {
    //   color: #ffffff;
    // }
  }
}

.circleIcon {
  background-color: #1a1818;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  border: none;
  // &.stateHover {
  //   background-color: #575757;
  // }

  & svg {
    width: 24px;
    height: 24px;
  }
}
