@use "@/styles/mixins.scss" as *;

.defaultButton {
  width: 200px;
  height: 47px;
  background-color: #ab8956;
  border-radius: 30px;
  padding: 16px 20px;
  border: none;
  color: #ffffff;
  @include fonts("Inter", sans-serif, 700, 12px);

  &.disabled {
    background-color: #ab8956; // Одинаковый цвет!!!
  }
}

.text {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: #dedede;
  background-color: #121212;

  @include textDecoration(#dedede);
  @include fonts("Inter", sans-serif, 700, 12px);

  svg {
    width: 12px;
    height: 12px;
  }

  &:hover {
    color: #ffffff;
    @include textDecoration(#ffffff);
    & svg {
      fill: #ffffff;
    }
  }

  &.disabled {
    color: #9c9c9c; // Одинаковый цвет!!!
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    text-decoration-color: #9c9c9c;

    & svg {
      fill: #9c9c9c;
    }
  }
}

.icon {
  background-color: #1a1818;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  & svg {
    width: 24px;
    height: 24px;
    fill: #dedede;
    flex-shrink: 0;
  }

  &:hover {
    & svg {
      fill: #ffffff;
    }
  }

  &.disabled {
    & svg {
      fill: #dedede;
    }
  }
}

.circleIcon {
  background-color: #1a1818;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  border: none;

  & svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: #242222; //как сделать другой цвет на белой теме ? и border!
  }
}
