@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.cardContainer {
  width: 100%;
  height: 452px;
  position: relative;
  &--ligth {
    background-color: #fff;
  }
  &--dark {
    background-color: $secondary-black;
  }
}
.emptyProfile {
  // width: 264px;
  // height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: $secondary-gray;
  @include fonts('Inter', sans-serif, 900, 20px, 100%);
}
.image {
  width: 264px;
  height: 229px;
  position: relative;
  margin-top: 40px;
}
@include screen(tablet_lg) {
  .emptyProfile {
    position: absolute;
    top: 250px;
    left: 368px;
  }
  .cardContainer {
    height: 100%;
  }
}
