@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.label {
  height: 33px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  padding: 8px 16px;
  transition: all 0.5s ease;
  position: relative;
  &--light {
    color: $primary-dark-gray;
    border: none;
    background-color: rgba($color: $primary-black, $alpha: 5%);
  }
  &--dark {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid $primary-white;
  }
}
.labelText {
  @include fonts('Inter', sans-serif, 500, 12px, 140%);
}
.buttonClose {
  width: 12px;
  height: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  background-color: transparent;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
  svg {
    width: 12px;
    height: 12px;
  }
}
