@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.containerInfo {
  width: 100%;
  padding: 80px 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 40px;
  align-items: center;
  &--ligth {
    background-color: $primary-white;
  }
  &--dark {
    background-color: $primary-black;
  }
}
.columnLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.containerPhoto {
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid $primary-dark-gray;
  border-style: dashed;
  border-radius: 10%;
  &--light {
    color: $secondary-gray;
  }
  &--dark {
    color: $secondary-gray;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.formContainer {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.buttonContainer {
  margin: 0 auto;
  margin-top: 8px;
}
@include screen(tablet) {
  .formContainer {
    width: 340px;
    gap: 40px;
  }
}
@include screen(tablet_lg) {
  .containerInfo {
    grid-template-columns: 2fr 3fr;
    align-items: start;
  }
  .columnLeft {
    gap: 40px;
  }
  .buttonContainer {
    margin-left: 0;
    margin-top: 20px;
  }
}
