@use '@/styles/mixins.scss' as *;

.galleryList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 80px 0;
  gap: 20px;
  overflow: hidden;
}

@include screen(tablet) {
  .galleryList {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0;
    gap: 24px;
  }
}

@include screen(tablet_lg) {
  .galleryList {
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 0;
    gap: 32px;

  }
}

@include screen(desktop) {
  .galleryList {
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 0;
    gap: 32px;
  }
}
