@use '@/styles/mixins.scss' as *;

.galleryList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
    gap: 32px;
    overflow: hidden;
}

@include screen(desktop) {
    .galleryList {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
    }
}

@include screen(tablet) {
    .galleryList {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}
