@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.loginbuttons {
  display: flex;
  gap: 32px;

  flex-direction: column;
  background-color: transparent;
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
