@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.searchLine {
  width: 340px;
  position: relative;
  border-radius: 4px;
  transition: all 0.5s ease;
  display: flex;
  &--light {
    background-color: $primary-white;
    &:hover {
      border-color: $secondary-gray;
    }
  }
  &--dark {
    background-color: $secondary-black;
    border: 1px solid transparent;
    color: $primary-light-gray;
    &:hover {
      border: 1px solid $primary-dark-gray;
    }
  }
  &.searchLineError {
    border-color: $accept-error;
  }
}
.iconContainer {
  position: absolute;
  width: 100%;
  height: 46px;
  z-index: 999;
  margin-top: 23px;
}
.searchIcon {
  width: 24px;
  height: 24px;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}

.clearIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.input {
  padding-left: 52px !important;
}
