@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.searchLine {
  width: 340px;
  height: 32px;
  position: relative;
  padding: 8px 16px;
  border-radius: 4px;

  &--light {
    background-color: $primary-white;
    border: 1px solid $primary-light-gray;
    &::before {
      content: '';
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    &:hover {
      border-color: $secondary-gray;
    }
    &:focus-within {
      border-color: $primary-dark-gray;
      caret-color: $primary-dark-gray;
      ::placeholder {
        color: transparent;
      }
    }
    }
  }

  &--dark {
    background-color: $secondary-black;
    border: 1px solid transparent;
    color: $primary-light-gray;
    &::before {
      content: '';
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      border: 1px solid $primary-dark-gray;
    }
    &:focus-within {
      border: 1px solid $primary-light-gray;
      caret-color: $primary-light-gray;
      ::placeholder {
        color: transparent;
      }
    }
  }
  &.searchLineError {
    border-color: $accept-error;
  }
}

.clear_icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  transition: opacity 0.2s ease;
}

.input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  inset: 0;
  padding-left: 52px;
  padding-right: 52px;
  &::placeholder {
    color: $secondary-gray;
    @include fonts('Inter', sans-serif, 300, 12px, 140%);
  }
}

.errorContainer {
  width: 340px;
  position: relative;
  height: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 4px;
}

.errorMessage {
  color: $accept-error;
  @include fonts('Inter', sans-serif, 300, 12px, 140%);
}
