@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.containerInfo {
  height: 100%;
  padding: 130px 26px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.authImage {
  display: none;
}
.title {
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  &--light {
    color: $primary-black;
  }
  &--dark {
    color: $primary-white;
  }
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.loginMessage {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  margin-top: 20px;
  @include fonts('Inter', sans-serif, 300, 12px, 140%);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.loginLink {
  @include fonts('Inter', sans-serif, 500, 16px, 140%);
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-white;
  }
}
@include screen(tablet) {
  .title {
    order: 1;
  }
  .signUpMessage {
    order: 2;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .inputContainer {
    order: 3;
  }
  .buttonContainer {
    order: 4;
  }
}
@include screen(tablet_lg) {
  .authImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    svg {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .containerInfo {
    flex: 1;
  }
}
