@use '@/styles/variables.scss' as *;

.buttonTheme {
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: transparent;
}
.iconTheme {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  svg {
    width: 24px;
    height: 24px;
  }
  &--light {
    background-color: transparent;
  }
  &--dark {
    color: $primary-light-gray;
    background-color: $secondary-black;
  }
}