@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.buttonContainer {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 12px;
  margin-top: 36px;
  &--light {
    color: $primary-dark-gray;
  }
  &--dark {
    color: $primary-light-gray;
  }
}
.addArtistButton {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}
.searchButton {
  display: none;
}
.filterButton {
  width: 28px;
  height: 28px;
  right: 20px;
  top: 32px;
  border-radius: 10%;
  &--light {
    background-color: $secondary-white;
  }
  &--dark {
    background-color: $secondary-black;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
@include screen(tablet) {
  .buttonContainer {
    width: 100%;
    height: 24px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .searchButton {
    display: block;
    width: 100%;
  }
  .buttons {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
  }
  .filterButton {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    &--light {
      color: $primary-dark-gray;
    }
    &--dark {
      color: $primary-light-gray;
    }
  }
}
@include screen(tablet_lg) {
  .buttonContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .buttons {
    grid-column: 3;
    justify-content: end;
  }
}
